<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-feature android:name="android.hardware.microphone" android:required="true" />
    <application android:label="Utterleaf Voice" android:icon="@drawable/leaf"
        android:theme="@style/AppTheme" android:allowBackup="false"
        android:fullBackupContent="false" android:dataExtractionRules="@xml/data_extraction_rules"
        android:supportsRtl="true" android:usesCleartextTraffic="false">
        <activity android:name=".SetupActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".RecognizeActivity" android:exported="true" android:excludeFromRecents="true">
            <intent-filter>
                <action android:name="android.speech.action.RECOGNIZE_SPEECH" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <service android:name=".VoiceIme" android:label="Utterleaf Voice"
            android:permission="android.permission.BIND_INPUT_METHOD" android:exported="true">
            <intent-filter><action android:name="android.view.InputMethod" /></intent-filter>
            <meta-data android:name="android.view.im" android:resource="@xml/input_method" />
        </service>
    </application>
</manifest>
