<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="org.utterleaf.voice.permission.DEBUG_LIFECYCLE_HOST" />
    <application android:label="Synthetic Utterleaf lifecycle host"
        android:testOnly="true" android:allowBackup="false"
        android:usesCleartextTraffic="false"
        android:theme="@android:style/Theme.Material.Light.NoActionBar">
        <activity android:name=".LifecycleHostActivity" android:exported="false"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
    </application>
</manifest>
