<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.VIBRATE" />
    <application android:label="@string/utterleaf_app_name"
        android:icon="@drawable/leaf" android:dataExtractionRules="@xml/data_extraction_rules"
        android:allowBackup="false" android:supportsRtl="true"
        android:usesCleartextTraffic="false" android:theme="@style/UtterleafTheme">
        <service android:name="org.utterleaf.keyboard.UtterleafIme"
            android:permission="android.permission.BIND_INPUT_METHOD" android:exported="true">
            <intent-filter><action android:name="android.view.InputMethod" /></intent-filter>
            <meta-data android:name="android.view.im" android:resource="@xml/utterleaf_method" />
        </service>
        <activity android:name="org.utterleaf.keyboard.FoundationActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="org.utterleaf.keyboard.ComfortActivity" android:exported="false"
            android:label="@string/comfort_title" android:launchMode="singleTop" />
        <activity android:name="org.utterleaf.keyboard.NoticesActivity" android:exported="false"
            android:label="@string/notices_title" />
    </application>
</manifest>
